#textdomain wesnoth-Towards_the_Light

[scenario]
  id=01_Wild_Animals
  name="Wild Animals"
  next_scenario=02_Portals
  map_data="{~add-ons/Towards_the_Light/maps/01_Wild_Animals.map}"
  turns=10
  victory_when_enemies_defeated=no
  {INTRO_AND_SCENARIO_MUSIC revelation.ogg breaking_the_chains.ogg}
  {EXTRA_SCENARIO_MUSIC journeys_end.ogg}
  {INTRO}
  {MORNING}
  [side]
    side=1
    controller=human
    team_name=students
    user_team_name= _ "team_name^Students"

    type=Jolla_Apprentice Mage
    id=Jolla
    name=_"Jolla"
    gender=female
    canrecruit=yes
    unrenamable=true
    facing=nw
    [modifications]
      {TRAIT_INTELLIGENT}
    [/modifications]

    recruit=

    gold=0
    income=-2
    village_gold=0

    [unit]
      side=1
      type=Apprentice Mage
      id=Clare
      name= _ "Clare"
      gender=female
      unrenamable=true
      x,y=15,20
      random_traits=no
      facing=nw
      [modifications]
        {TRAIT_INTELLIGENT}
      [/modifications]
      {IS_HERO}
    [/unit]
    {NOTRAIT_UNIT 1 (Apprentice Mage) 16 20} {FACING nw}
    {NOTRAIT_UNIT 1 (Apprentice Mage) 13 20} {FACING ne}
    {NOTRAIT_UNIT 1 (Apprentice Mage) 12 20} {FACING ne}
  [/side]

  [side]
    side=2
    controller=ai
    team_name=animals
    user_team_name= _ "team_name^Animals"

    no_leader=yes
    recruit=

    gold=0
    income=-2

    {NOTRAIT_UNIT 1 (Ram) 14 13}
    {NOTRAIT_UNIT 1 (Ram) 14 14}
    {NOTRAIT_UNIT 1 (Ram) 13 14}
    {NOTRAIT_UNIT 1 (Ram) 12 14}
    {NOTRAIT_UNIT 1 (Ram) 24 15}
    {NOTRAIT_UNIT 1 (Ram) 23 15}
    {NOTRAIT_UNIT 1 (Tusklet) 21 9}
    {NOTRAIT_UNIT 1 (Tusklet) 22 9}
    {NOTRAIT_UNIT 1 (Ram) 22 10}
    {NOTRAIT_UNIT 1 (Tusklet) 23 10}
    {NOTRAIT_UNIT 1 (Tusklet) 6 8}
    {NOTRAIT_UNIT 1 (Tusklet) 5 8}
#ifndef EASY
    {NOTRAIT_UNIT 1 (Ram) 6 7}
    {NOTRAIT_UNIT 1 (Ram) 5 7}
#endif
#ifdef HARD
    {NOTRAIT_UNIT 1 (Tusklet) 4 7}
#endif
  [/side]

  [side]
    side=3
    controller=ai
    team_name=students
    user_team_name= _ "team_name^Teacher"

    type=Arch Mage
    id=teacher
    generate_name=yes
    gender=female
    canrecruit=yes

    recruit=

    gold=0
    income=-2

    scroll_to_leader=no
    [ai]
      ai_algorithm=idle_ai
    [/ai]
  [/side]

  [event]
    name=prestart
    [objectives]
      [objective]
        description= _ "Calm all animals (by reducing their hp to 0)"
        condition=win
      [/objective]
      [objective]
        description= _ "Jolla or Clare gets exhausted"
        condition=lose
      [/objective]
      {NOTE_NO_EXPERIENCE_FOR_JOLLA}
      {TURNS_RUN_OUT}
    [/objectives]
    [store_unit]
      [filter]
        side=1
      [/filter]
      variable=side1_units
    [/store_unit]
    {FOREACH side1_units i}
      [object]
        duration=scenario
        silent=yes
        [filter]
          id=$side1_units[$i].id
        [/filter]
        [effect]
          apply_to=resistance
          replace=yes
          [resistance]
            blade=70
          [/resistance]
        [/effect]
      [/object]
    {NEXT i}
    {CLEAR_VARIABLE side1_units}
  [/event]

  [event]
    name=start
    [role]
      role=complainer
      type=Apprentice Mage
      [not]
        id=Clare
      [/not]
    [/role]
    [message]
      role=complainer
      message=_"So, they finally let us leave the walls of the academy but why? Will we have a lesson under the open sky?"
    [/message]
    [message]
      speaker=teacher
      message=_"Sort of. Well, I'm not going to teach you some theory as you would expect, this will rather be practical lesson, an exercise."
    [/message]
    [message]
      role=complainer
      message=_"Exercise, you say? All I can see around are animals. But we aren't here to become some farmers, we train to be mages."
    [/message]
    [message]
      speaker=teacher
      message=_"Sure, we want to test your magical abilities here. These animals gone wild and no one else is able to calm them. Using magic is our last hope."
    [/message]
    [message]
      role=complainer
      message=_"Maybe but should WE care? We never get to eat them in the Academy. Our food is ... well, it only saves us from dying from hunger. It doesn't taste really well."
    [/message]
    [message]
      speaker=Jolla
      message=_"Cannot you do it just because it is right? It will fill your soul with a good feeling."
    [/message]
    [message]
      speaker=Clare
      message=_"I will gladly help you with it, my friend."
    [/message]
    [message]
      speaker=Jolla
      message=_"Thank you, Clare. So what about you?"
    [/message]
    [message]
      role=complainer
      message=_"Fine, fine! I'll do it."
    [/message]
    [message]
      speaker=Jolla
      message=_"Excellent. Let us start then."
    [/message]
  [/event]

  [event]
    name=die
    first_time_only=no
    [filter]
      side=2
    [/filter]
    [if]
      [have_unit]
        side=2
      [/have_unit]
      [else]
        [endlevel]
          result=victory
          bonus=no
          carryover_percentage=0
          carryover_report=no
        [/endlevel]
      [/else]
    [/if]
  [/event]

  {JOLLA_DOES_NOT_KEEP_EXPERIENCE}

  [event]
    name=victory
    [store_unit]
      [filter]
        side=1
        canrecruit=no
      [/filter]
      variable=mages_store
      mode=append
      kill=yes
    [/store_unit]
  [/event]

  [event]
    name=last breath
    first_time_only=no
    [filter]
      type=Apprentice Mage
      [not]
        id=Clare
      [/not]
    [/filter]
    [message]
      speaker=teacher
      message=_"Go to the infirmary."
    [/message]
    {TELEPORT_EFFECT_OBJECT}
    [animate_unit]
      [filter]
        id=$unit.id
      [/filter]
      flag=pre_teleport
    [/animate_unit]
    [store_unit]
      [filter]
        id=$unit.id
      [/filter]
      variable=mages_store
      mode=append
      kill=yes
    [/store_unit]
  [/event]

  [event]
    name=last breath
    [filter]
      id=Jolla
    [/filter]
    [message]
      speaker=unit
      message=_"Oh, uh ..."
    [/message]
    [message]
      speaker=narrator
      message=_"The other apprentices eventually accomplished their task but Jolla never got a chance to fulfil her destiny. After completing her studies, she returned to her home town where she helped other citizens until a disease struck her at the age of 33."
      image=none
    [/message]
    {DEFEAT}
  [/event]

  [event]
    name=last breath
    [filter]
      id=Clare
    [/filter]
    [message]
      speaker=unit
      message=_"Oh, oh ..."
    [/message]
    [message]
      speaker=Jolla
      message=_"No! I cannot complete our task without you."
    [/message]
    [message]
      speaker=unit
      message=_"I am sorry, Jolla."
    [/message]
    {DEFEAT}
  [/event]
[/scenario]
