# Project Management
/.github/               @irdyansages/project-management
/README.md              @irdyansages/project-management
/COPYING.txt            @irdyansages/project-management
.gitignore              @irdyansages/project-management

# Release Management
# there is no dedicated team of release managers for this add-on
/_server.pbl		@konecnyjakub
/CHANGELOG.md           @konecnyjakub
/dist/                  @konecnyjakub
.gitattributes          @konecnyjakub

# Continous integeration
/.gitlab-ci.yml         @irdyansages/devops
/.github/workflows/	@irdyansages/devops

# Translations
/translations/          @irdyansages/translations-masters

# WML
*.cfg                   @irdyansages/wml-wizards
story.cfg               @irdyansages/wml-wizards @irdyansages/lore-masters
deaths.cfg              @irdyansages/wml-wizards @irdyansages/lore-masters
scenarios/              @irdyansages/wml-wizards @irdyansages/lore-masters

# Maps
*.map                   @irdyansages/map-makers
