#textdomain wesnoth-Towards_the_Light

#define DEFEAT
  [endlevel]
    result=defeat
  [/endlevel]
#enddef

#define GREATER_AMLA_DEFAULT_BONUSES
  [effect]
    apply_to=hitpoints
    increase_total=2
    heal_full=yes
  [/effect]
  [effect]
    apply_to=max_experience
    increase=20
  [/effect]
  [effect]
    apply_to=status
    remove=poisoned
  [/effect]
  [effect]
    apply_to=status
    remove=slowed
  [/effect]
#enddef

#define GREATER_AMLA_SMALLER_BONUSES
  [effect]
    apply_to=hitpoints
    increase_total=1
    heal_full=yes
  [/effect]
  [effect]
    apply_to=max_experience
    increase=20
  [/effect]
  [effect]
    apply_to=status
    remove=poisoned
  [/effect]
  [effect]
    apply_to=status
    remove=slowed
  [/effect]
#enddef

#define NOTE_NO_EXPERIENCE_FOR_JOLLA
  [note]
    description= _ "Jolla will keep no experiences from this scenario"
  [/note]
#enddef

#define JOLLA_DOES_NOT_KEEP_EXPERIENCE
  [event]
    name=prestart
    {MODIFY_UNIT id=Jolla max_experience 50}
  [/event]

  [event]
    name=victory
    [store_unit]
      [filter]
        id=Jolla
      [/filter]
      variable=jolla_store
      kill=yes
    [/store_unit]
    {VARIABLE jolla_store.experience 0}
    {VARIABLE jolla_store.max_experience 32}
    [unstore_unit]
      variable=jolla_store
      find_vacant=no
    [/unstore_unit]
    {CLEAR_VARIABLE jolla_store}
  [/event]
#enddef
